nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
        color: crimson;
    }
    button {
        padding: 0.2rem 0.3rem;
        cursor: pointer;
        background-color: crimson;
        color: white;
    }
}