* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.App {
    transition: all 1s ease;
}

.activeList {
    margin-left: 10%;
}

@media screen and (max-width: 768px) {
  
}


@import './_player.scss';
@import './_song.scss';
@import './_songList.scss';
@import './_toggleList.scss';